// app global css in SCSS form
@font-face {
  font-family: 'nunitosans';
  src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.nunitosans {
  font-family: 'NunitoSans-VariableFont_YTLC,opsz,wdth,wght', sans-serif;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-ExtraBold {
  font-family: 'Montserrat-ExtraBold', sans-serif;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-Bold {
  font-family: 'Montserrat-Bold', sans-serif;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-SemiBold {
  font-family: 'Montserrat-SemiBold', sans-serif;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-Medium {
  font-family: 'Montserrat-Medium', sans-serif;
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-regular {
  font-family: 'Montserrat-Regular', sans-serif;
}

@font-face {
  font-family: 'Montserrat-thin';
  src: url('/fonts/Montserrat-Thin.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-thin {
  font-family: 'Montserrat-Thin', sans-serif;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Montserrat-light {
  font-family: 'Montserrat-Light', sans-serif;
}
@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
.Anton {
  font-family: 'Anton', sans-serif;
}

// Puedes usar la fuente en todo el proyecto:
body {
  font-family: 'nunitosans';
  background-color: #fffdf8;
}

.q-header,
.q-footer {
  font-family: 'nunitosans' !important;
  
}

h1 {
  font-family: 'Montserrat-ExtraBold';
}
h2 {
  font-family: 'Montserrat-Bold';
}
h3 {
  font-family: 'Montserrat-SemiBold';
}
h4 {
  font-family: 'Montserrat-Medium';
}
h5 {
  font-family: 'Montserrat-regular';
}
h6 {
  font-family: 'Anton';
}
h7 {
  font-family: 'Montserrat-thin';
}

h8 {
  font-family: 'Montserrat-light';
}


// Estilos globales adicionales